<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClWjHfLYEthB46xQq-s512ZDOKrTThIX0</string>
	<key>GCM_SENDER_ID</key>
	<string>3995044910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psBarber.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-bb872</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-bb872.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3995044910:ios:21e82c00a1fa0c3ef123bf</string>
</dict>
</plist>